.flex(@columns: initial) {
  -webkit-flex: @columns;
  flex: @columns;
}

.flex-display(@display) {
  display: ~"-webkit-@{display}";
  display: @display;
}

.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
  flex-direction: @direction;
}

.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
  justify-content: @justify;
}

.align-items(@align: stretch) {
  -webkit-align-items: @align;
  align-items: @align;
}

.order(@order) {
  -webkit-order: @order;
  order: @order;
}

.align-self(@align: stretch) {
  -webkit-align-self: @align;
  align-self: @align;
}