// Automatic set i tags with a icon-* class to display-inline
i[class^="icon-"],
i[class*=" icon-"] {
  display: inline-block;
}

// GOAL
.icon-goal {
  background: url('@{img-path}/icons/goal.svg') 0 0 no-repeat;
}
.icon-goal-md {
  width: 35px;
  height: 28px;
}

// SUBSTITUTE
.icon-substitute {
  background: url('@{img-path}/icons/substitute.svg') 0 0 no-repeat;
}
.icon-substitute-md {
  width: 23.333333px;
  height: 28px;
}
.icon-substitute-sm {
  width: 14.17px;
  height: 17px;
}

// YELLOW CARD
.icon-yellow-card {
  background: url('@{img-path}/icons/yellow_card.svg') 0 0 no-repeat;
}
.icon-yellow-card-md {
  width: 22.78px;
  height: 28px;
}
.icon-yellow-card-sm {
  width: 13.83px;
  height: 17px;
}

// RED CARD
.icon-red-card {
  background: url('@{img-path}/icons/red_card.svg') 0 0 no-repeat;
}
.icon-red-card-md {
  width: 22.78px;
  height: 28px;
}
.icon-red-card-sm {
  width: 13.83px;
  height: 17px;
}

// RED CARD 2 YELLOW
.icon-red-card-2-yellow {
  background: url('@{img-path}/icons/red_car_2yellow.svg') 0 0 no-repeat;
}
.icon-red-card-2-yellow-md {
  width: 24.39px;
  height: 28px;
}
.icon-red-card-2-yellow-sm {
  width: 14.81px;
  height: 17px;
}

// WHISTLE
.icon-whistle {
  background: url('@{img-path}/icons/whistle.svg') 0 0 no-repeat;
}
.icon-whistle-md {
  width: 28px;
  height: 28px;
}
.icon-whistle-sm {
  width: 17px;
  height: 17px;
}

// STOPWATCH
.icon-stopwatch {
  background: url('@{img-path}/icons/stopwatch.svg') 0 0 no-repeat;
}
.icon-stopwatch-md {
  width: 25.72px;
  height: 28px;
}

// BALL
.icon-ball {
  background: url('@{img-path}/icons/ball.svg') 0 0 no-repeat;
}
.icon-ball-md {
  width: 28px;
  height: 28px;
}
.icon-ball-sm {
  width: 17px;
  height: 17px;
}
