@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #fff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
i[class^="icon-"],
i[class*=" icon-"] {
  display: inline-block;
}
.icon-goal {
  background: url('../img/icons/goal.svg') 0 0 no-repeat;
}
.icon-goal-md {
  width: 35px;
  height: 28px;
}
.icon-substitute {
  background: url('../img/icons/substitute.svg') 0 0 no-repeat;
}
.icon-substitute-md {
  width: 23.333333px;
  height: 28px;
}
.icon-substitute-sm {
  width: 14.17px;
  height: 17px;
}
.icon-yellow-card {
  background: url('../img/icons/yellow_card.svg') 0 0 no-repeat;
}
.icon-yellow-card-md {
  width: 22.78px;
  height: 28px;
}
.icon-yellow-card-sm {
  width: 13.83px;
  height: 17px;
}
.icon-red-card {
  background: url('../img/icons/red_card.svg') 0 0 no-repeat;
}
.icon-red-card-md {
  width: 22.78px;
  height: 28px;
}
.icon-red-card-sm {
  width: 13.83px;
  height: 17px;
}
.icon-red-card-2-yellow {
  background: url('../img/icons/red_car_2yellow.svg') 0 0 no-repeat;
}
.icon-red-card-2-yellow-md {
  width: 24.39px;
  height: 28px;
}
.icon-red-card-2-yellow-sm {
  width: 14.81px;
  height: 17px;
}
.icon-whistle {
  background: url('../img/icons/whistle.svg') 0 0 no-repeat;
}
.icon-whistle-md {
  width: 28px;
  height: 28px;
}
.icon-whistle-sm {
  width: 17px;
  height: 17px;
}
.icon-stopwatch {
  background: url('../img/icons/stopwatch.svg') 0 0 no-repeat;
}
.icon-stopwatch-md {
  width: 25.72px;
  height: 28px;
}
.icon-ball {
  background: url('../img/icons/ball.svg') 0 0 no-repeat;
}
.icon-ball-md {
  width: 28px;
  height: 28px;
}
.icon-ball-sm {
  width: 17px;
  height: 17px;
}
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
small {
  color: #3C3C3C;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: .64em 1em;
  background: #32A237 none;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-block {
  display: block;
  width: 100%;
}
.flex-list-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.match-bubble-pattern {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 10px;
}
.match-bubble-pattern.is-won {
  background-color: #32A237;
  color: #FFFFFF;
}
.match-bubble-pattern.is-lost {
  background-color: #C40202;
  color: #FFFFFF;
}
.match-bubble-pattern.is-tie {
  background-color: #FFF000;
  color: #000000;
}
.match-bubble-pattern.is-home:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f015";
  background: #000000;
  border-radius: 50%;
  position: absolute;
  right: -0.3em;
  bottom: -0.3em;
  font-size: .7em;
  padding: .22em;
  color: #FFFFFF;
}
.match-bubble-pattern.is-home:after.fa-pull-left {
  margin-right: .3em;
}
.match-bubble-pattern.is-home:after.fa-pull-right {
  margin-left: .3em;
}
.match-bubble-pattern.is-home:after.pull-left {
  margin-right: .3em;
}
.match-bubble-pattern.is-home:after.pull-right {
  margin-left: .3em;
}
.match-bubble-pattern.is-lg {
  font-size: 15px;
}
.progress-bar-pattern {
  position: relative;
  height: 6px;
  background: #E8E8E8;
  border-radius: 3px;
  overflow: hidden;
}
.progress-bar-pattern > span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  background-color: #32A237;
  border-radius: 3px;
}
.progress-bar-pattern.is-right > span {
  left: auto;
  right: 0;
}
.progress-bar-pattern.is-mute > span {
  background-color: #bbd7bc;
}
.distribution-bar-pattern .distribution-bar-header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  align-items: baseline;
  font-size: 11px;
  margin-bottom: 2px;
  color: inherit;
}
.distribution-bar-pattern .distribution-bar-distribution {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0;
}
.distribution-bar-pattern .distribution-bar-caption {
  -webkit-flex: 1;
  flex: 1;
  font-family: 'Arial', sans-serif;
  text-align: center;
}
.distribution-bar-pattern .distribution-bar-left-bar,
.distribution-bar-pattern .distribution-bar-right-bar {
  -webkit-flex: 1;
  flex: 1;
  position: relative;
  height: 3px;
  background: rgba(232, 232, 232, 0.5);
}
.distribution-bar-pattern .distribution-bar-left-bar > span,
.distribution-bar-pattern .distribution-bar-right-bar > span {
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  border-radius: 1.5px;
  background: #CBFE33;
  box-shadow: 0 0 10px 0 rgba(203, 254, 51, 0.75);
}
.distribution-bar-pattern .distribution-bar-left-bar.is-mute > span,
.distribution-bar-pattern .distribution-bar-right-bar.is-mute > span {
  background-color: #a7de01;
  box-shadow: none;
}
.distribution-bar-pattern .distribution-bar-left-bar {
  border-radius: 3px 0 0 3px;
  border-right: 1px solid black;
}
.distribution-bar-pattern .distribution-bar-right-bar {
  right: 0;
  border-radius: 0 3px 3px 0;
}
.distribution-bar-pattern .distribution-bar-left-bar > span {
  right: 0;
}
.distribution-bar-pattern .distribution-bar-right-bar > span {
  left: 0;
}
.player-jersey-pattern {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.player-jersey-pattern > img {
  display: block;
  margin: 0 auto;
}
.player-jersey-pattern .player-number {
  position: absolute;
  display: block;
  top: 17px;
  width: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-shadow: -1px -1px 0 rgba(64, 64, 64, 0.5), 1px -1px 0 rgba(64, 64, 64, 0.5), -1px 1px 0 rgba(64, 64, 64, 0.5), 1px 1px 0 rgba(64, 64, 64, 0.5);
}
.player-incident-pattern {
  font-size: 1px;
  line-height: 1;
  white-space: nowrap;
  height: 17px;
}
.card-bar-pattern {
  background: transparent url('../img/card-sprite.png') 0 0 no-repeat;
  background-size: .92em 2.40em;
  width: .92em;
  height: .17em;
}
.card-bar-pattern.cards-1 {
  background-position: 0 -2.1em;
}
.card-bar-pattern.cards-2 {
  background-position: 0 -1.8em;
}
.card-bar-pattern.cards-3 {
  background-position: 0 -1.5em;
}
.card-bar-pattern.cards-4 {
  background-position: 0 -1.2em;
}
.card-bar-pattern.cards-5 {
  background-position: 0 -0.9em;
}
.card-bar-pattern.cards-6 {
  background-position: 0 -0.6em;
}
.card-bar-pattern.cards-7 {
  background-position: 0 -0.3em;
}
.card-bar-pattern.cards-8 {
  background-position: 0 0em;
}
.card-bar-pattern.cards-0 {
  display: none;
}
.time-box-pattern {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  border-radius: .3em;
  text-align: center;
  width: 2em;
  line-height: 2em;
  height: 2em;
}
.time-box-pattern.has-left-arrow:after,
.time-box-pattern.has-right-arrow:after {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  margin-top: -2px;
}
.time-box-pattern.has-left-arrow:after {
  right: 100%;
}
.time-box-pattern.has-right-arrow:after {
  left: 100%;
}
.time-box-pattern.is-dark {
  background-color: #000000;
  color: #FFFFFF;
}
.time-box-pattern.is-dark.has-left-arrow:after,
.time-box-pattern.is-dark.has-right-arrow:after {
  border-color: rgba(0, 0, 0, 0);
}
.time-box-pattern.is-dark.has-left-arrow:after {
  border-right-color: #000000;
}
.time-box-pattern.is-dark.has-right-arrow:after {
  border-left-color: #000000;
}
.time-box-pattern.is-light {
  background-color: #FFFFFF;
  color: #000000;
}
.time-box-pattern.is-light.has-left-arrow:after,
.time-box-pattern.is-light.has-right-arrow:after {
  border-color: rgba(255, 255, 255, 0);
}
.time-box-pattern.is-light.has-left-arrow:after {
  border-right-color: #FFFFFF;
}
.time-box-pattern.is-light.has-right-arrow:after {
  border-left-color: #FFFFFF;
}
.event-icon-pattern {
  display: inline-block;
}
.event-icon-pattern.is-substitution {
  background: url('../img/icons/substitute.svg') 0 0 no-repeat;
  width: 23.333333px;
  height: 28px;
}
.event-icon-pattern.is-goal {
  background: url('../img/icons/goal.svg') 0 0 no-repeat;
  width: 35px;
  height: 28px;
}
.event-icon-pattern.is-yellow-card {
  background: url('../img/icons/yellow_card.svg') 0 0 no-repeat;
  width: 22.78px;
  height: 28px;
}
.event-icon-pattern.is-red-card {
  background: url('../img/icons/red_card.svg') 0 0 no-repeat;
  width: 22.78px;
  height: 28px;
}
.event-icon-pattern.is-yellow-red-card {
  background: url('../img/icons/red_car_2yellow.svg') 0 0 no-repeat;
  width: 24.39px;
  height: 28px;
}
.event-icon-pattern.is-penalty {
  background: url('../img/icons/whistle.svg') 0 0 no-repeat;
  width: 28px;
  height: 28px;
}
.event-icon-pattern.is-ekstra-time {
  background: url('../img/icons/stopwatch.svg') 0 0 no-repeat;
  width: 25.72px;
  height: 28px;
}
.spinner-pattern {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: transparent url('../img/spinner.png');
  background-size: 100% 100%;
  width: 60px;
  height: 60px;
}
@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.spinner-pattern.is-small {
  width: 15px;
  height: 15px;
}
.navigation-slider-module {
  background: #3C3C3C;
  color: #FFFFFF;
  text-transform: uppercase;
  overflow: hidden;
  height: 44px;
}
.navigation-slider-module li {
  width: 33.333333%;
  float: left;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  padding: 11px 5px;
}
.navigation-slider-module .active {
  color: #CBFE33;
}
.leagues-list-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.leagues-list-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.leagues-list-module h3 .is-mute {
  color: #C8C8C8;
}
.leagues-list-module li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 10px;
  padding: 7px 0;
}
.leagues-list-module li + li {
  border-top: 1px solid #E8E8E8;
}
.leagues-list-module .col-league {
  -webkit-flex: 1;
  flex: 1;
}
.leagues-list-module .col-league small {
  display: block;
}
.leagues-list-module .col-round {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  min-width: 4rem;
  color: #3C3C3C;
}
.leagues-list-module .col-nav {
  min-width: 1.5rem;
  text-align: right;
  color: #3C3C3C;
}
.leagues-list-module .col-nav:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
}
.leagues-list-module .col-nav:before.fa-pull-left {
  margin-right: .3em;
}
.leagues-list-module .col-nav:before.fa-pull-right {
  margin-left: .3em;
}
.leagues-list-module .col-nav:before.pull-left {
  margin-right: .3em;
}
.leagues-list-module .col-nav:before.pull-right {
  margin-left: .3em;
}
.standings-list-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.standings-list-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.standings-list-module h3 .is-mute {
  color: #C8C8C8;
}
.standings-list-module h3 .col-matches {
  min-width: 2rem;
  text-align: center;
}
.standings-list-module h3 .col-won {
  min-width: 1.5rem;
  text-align: center;
}
.standings-list-module h3 .col-tie {
  min-width: 1.5rem;
  text-align: center;
}
.standings-list-module h3 .col-lost {
  min-width: 1.5rem;
  text-align: center;
}
.standings-list-module h3 .col-balance {
  min-width: 3rem;
  text-align: center;
}
.standings-list-module h3 .col-points {
  min-width: 3rem;
  text-align: center;
}
.standings-list-module li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin: 0;
  padding: 10px 5px;
}
.standings-list-module:not(.is-plain) li:nth-child(even):not(.is-active) {
  background: #f3f3f4;
}
.standings-list-module:not(.is-plain) li:nth-child(odd):not(.is-active) {
  background: #e7e7e8;
}
.standings-list-module:not(.is-plain) li.is-active {
  background: #999999;
}
.standings-list-module:not(.is-plain) li.is-active .col-points,
.standings-list-module:not(.is-plain) li.is-active .col-team {
  color: #FFFFFF;
}
.standings-list-module:not(.is-plain) li.is-active .col-won,
.standings-list-module:not(.is-plain) li.is-active .col-tie,
.standings-list-module:not(.is-plain) li.is-active .col-lost {
  color: #c8c8c8;
}
.standings-list-module li .col-position {
  min-width: 1.8rem;
}
.standings-list-module li .col-history {
  min-width: 10px;
}
.standings-list-module li .col-history.is-up:before,
.standings-list-module li .col-history.is-down:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
}
.standings-list-module li .col-history.is-up:before.fa-pull-left,
.standings-list-module li .col-history.is-down:before.fa-pull-left {
  margin-right: .3em;
}
.standings-list-module li .col-history.is-up:before.fa-pull-right,
.standings-list-module li .col-history.is-down:before.fa-pull-right {
  margin-left: .3em;
}
.standings-list-module li .col-history.is-up:before.pull-left,
.standings-list-module li .col-history.is-down:before.pull-left {
  margin-right: .3em;
}
.standings-list-module li .col-history.is-up:before.pull-right,
.standings-list-module li .col-history.is-down:before.pull-right {
  margin-left: .3em;
}
.standings-list-module li .col-history.is-up:before {
  content: "\f0d8";
  color: #32A237;
}
.standings-list-module li .col-history.is-down:before {
  content: "\f0d7";
  color: #C40202;
}
.standings-list-module li .col-team {
  -webkit-flex: 1;
  flex: 1;
}
.standings-list-module li .col-matches {
  min-width: 2rem;
}
.standings-list-module li .col-won {
  min-width: 1.5rem;
}
.standings-list-module li .col-tie {
  min-width: 1.5rem;
}
.standings-list-module li .col-lost {
  min-width: 1.5rem;
}
.standings-list-module li .col-balance {
  min-width: 3rem;
}
.standings-list-module li .col-points {
  min-width: 3rem;
}
.standings-list-module li .col-matches,
.standings-list-module li .col-balance {
  color: #575757;
}
.standings-list-module li .col-won,
.standings-list-module li .col-tie,
.standings-list-module li .col-lost {
  color: #999999;
}
.standings-list-module li .col-matches,
.standings-list-module li .col-won,
.standings-list-module li .col-tie,
.standings-list-module li .col-lost,
.standings-list-module li .col-balance,
.standings-list-module li .col-points {
  font-family: 'Arial', sans-serif;
  text-align: center;
}
.standings-list-module .pos-badge {
  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  background: transparent;
}
.standings-list-module .champions-league-qualification .pos-badge {
  background: #235B17;
  color: #FFFFFF;
}
.standings-list-module .europa-league-qualification .pos-badge {
  background: #32A237;
  color: #FFFFFF;
}
.standings-list-module .relegation-playoff .pos-badge {
  background: #f00;
  color: #FFFFFF;
}
.standings-list-module .relegation .pos-badge {
  background: #b30000;
  color: #FFFFFF;
}
.match-list-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.match-list-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.match-list-module h3 .is-mute {
  color: #C8C8C8;
}
.match-list-module .match-list-item {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  perspective: 500px;
  position: relative;
  margin: 0;
  padding: 0;
  height: 61px;
  border-bottom: 1px solid #E8E8E8;
  overflow: hidden;
  background: gray;
}
.match-list-module .match-line-scoreboard-item {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 7px 5px;
  width: 100%;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.match-list-module .match-line-scoreboard-item .team-logo {
  width: 25px;
}
.match-list-module .match-line-scoreboard-item .team-name {
  -webkit-flex: 1;
  flex: 1;
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.match-list-module .match-line-scoreboard-item .team-name.is-away {
  text-align: right;
}
.match-list-module .match-line-scoreboard-item .score-widget {
  width: 6rem;
  text-align: center;
}
.match-list-module .match-list-banner-item {
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.match-list-module .match-list-event-item {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #32A237;
  color: #FFFFFF;
  padding: 0 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.match-list-module .match-list-event-item .event-text {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
}
.match-list-module .match-list-event-item .event-text small {
  display: block;
  font-weight: 400;
  color: #C40202;
}
@-moz-keyframes spinner-out {
  from {
    -webkit-transform: translateZ(0) translateY(0) rotateX(0);
    transform: translateZ(0) translateY(0) rotateX(0);
  }
  to {
    -webkit-transform: translateZ(0) translateY(-60px) rotateX(90deg);
    transform: translateZ(0) translateY(-60px) rotateX(90deg);
  }
}
@-webkit-keyframes spinner-out {
  from {
    -webkit-transform: translateZ(0) translateY(0) rotateX(0);
    transform: translateZ(0) translateY(0) rotateX(0);
  }
  to {
    -webkit-transform: translateZ(0) translateY(-60px) rotateX(90deg);
    transform: translateZ(0) translateY(-60px) rotateX(90deg);
  }
}
@keyframes spinner-out {
  from {
    -webkit-transform: translateZ(0) translateY(0) rotateX(0);
    transform: translateZ(0) translateY(0) rotateX(0);
  }
  to {
    -webkit-transform: translateZ(0) translateY(-60px) rotateX(90deg);
    transform: translateZ(0) translateY(-60px) rotateX(90deg);
  }
}
@-moz-keyframes spinner-in {
  from {
    -webkit-transform: translateZ(0) translateY(60px) rotateX(-90deg);
    transform: translateZ(0) translateY(60px) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateZ(0) translateY(0) rotateX(0);
    transform: translateZ(0) translateY(0) rotateX(0);
  }
}
@-webkit-keyframes spinner-in {
  from {
    -webkit-transform: translateZ(0) translateY(60px) rotateX(-90deg);
    transform: translateZ(0) translateY(60px) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateZ(0) translateY(0) rotateX(0);
    transform: translateZ(0) translateY(0) rotateX(0);
  }
}
@keyframes spinner-in {
  from {
    -webkit-transform: translateZ(0) translateY(60px) rotateX(-90deg);
    transform: translateZ(0) translateY(60px) rotateX(-90deg);
  }
  to {
    -webkit-transform: translateZ(0) translateY(0) rotateX(0);
    transform: translateZ(0) translateY(0) rotateX(0);
  }
}
.match-list-module .cube-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.match-list-module .slide-enter {
  position: absolute;
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}
.match-list-module .slide-enter.slide-enter-active {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: spinner-in 0.5s linear forwards;
  -o-animation: spinner-in 0.5s linear forwards;
  animation: spinner-in 0.5s linear forwards;
}
.match-list-module .slide-leave {
  position: absolute;
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
}
.match-list-module .slide-leave.slide-leave-active {
  -webkit-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-animation: spinner-out 0.5s linear forwards;
  -o-animation: spinner-out 0.5s linear forwards;
  animation: spinner-out 0.5s linear forwards;
}
.tv-list-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.tv-list-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.tv-list-module h3 .is-mute {
  color: #C8C8C8;
}
.tv-list-module h3 .col-date {
  min-width: 4em;
  text-align: right;
  color: #CBFE33;
  font-weight: 400;
}
.tv-list-module small {
  display: block;
  font-weight: 400;
}
.tv-list-module li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 2px 0 2px 5px;
}
.tv-list-module li:nth-child(even) {
  background: #E8E8E8;
}
.tv-list-module .col-logo {
  width: 80px;
  padding: 0 5px;
}
.tv-list-module .col-program {
  padding: 5px 5px;
  -webkit-flex: 1;
  flex: 1;
}
.tv-list-module .col-time {
  min-width: 5em;
  text-align: center;
  font-weight: 700;
}
.top-score-list-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 1px;
}
.top-score-list-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.top-score-list-module h3 .is-mute {
  color: #C8C8C8;
}
.top-score-list-module li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  margin: 0 5px 0 0;
}
.top-score-list-module .col-position {
  font-size: 11px;
  font-weight: 700;
  width: 2.1rem;
  background: #C8C8C8;
  text-align: center;
  padding: 15px 0;
}
.top-score-list-module .col-player {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 5px;
}
.top-score-list-module .col-player small {
  display: block;
}
.top-score-list-module .col-matches {
  width: 4rem;
  text-align: center;
}
.top-score-list-module li .col-matches {
  font-family: 'Arial', sans-serif;
  color: #3C3C3C;
}
.top-score-list-module .col-goals {
  width: 3rem;
  text-align: center;
  padding-right: 5px;
}
.top-score-list-module li .col-goals {
  font-family: 'Arial', sans-serif;
}
.score-module {
  font-family: 'Arial', sans-serif;
  font-size: 74px;
  width: 2em;
  height: 1em;
  color: #000000;
}
.score-module .board {
  float: left;
  margin: .25em 0;
  width: 100%;
  background: #C8C8C8;
  line-height: .5em;
}
.score-module .home-score,
.score-module .away-score {
  font-size: 0.32432432em;
  width: 1.8em;
  text-align: center;
  font-weight: 700;
  position: relative;
}
.score-module .home-score.is-won,
.score-module .away-score.is-won {
  background: #32A237;
  color: #FFFFFF;
}
.score-module .home-score.is-tie,
.score-module .away-score.is-tie {
  background: yellow;
  color: #000000;
}
.score-module .home-score.is-lost,
.score-module .away-score.is-lost {
  background: #C40202;
  color: #FFFFFF;
}
.score-module .home-score {
  float: left;
  padding-right: .2em;
}
.score-module .away-score {
  float: right;
  padding-left: .2em;
}
.score-module .card-bar {
  background: transparent url('../img/card-sprite.png') 0 0 no-repeat;
  background-size: .92em 2.40em;
  width: .92em;
  height: .17em;
  font-size: 1.8em;
  position: absolute;
  bottom: 100%;
  left: 0;
  margin-bottom: .1em;
}
.score-module .card-bar.cards-1 {
  background-position: 0 -2.1em;
}
.score-module .card-bar.cards-2 {
  background-position: 0 -1.8em;
}
.score-module .card-bar.cards-3 {
  background-position: 0 -1.5em;
}
.score-module .card-bar.cards-4 {
  background-position: 0 -1.2em;
}
.score-module .card-bar.cards-5 {
  background-position: 0 -0.9em;
}
.score-module .card-bar.cards-6 {
  background-position: 0 -0.6em;
}
.score-module .card-bar.cards-7 {
  background-position: 0 -0.3em;
}
.score-module .card-bar.cards-8 {
  background-position: 0 0em;
}
.score-module .card-bar.cards-0 {
  display: none;
}
.score-module .card-bar.is-flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: auto;
  right: 0;
}
.score-module .progress {
  position: relative;
  margin: 0 .5em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #C8C8C8;
}
.score-module .progress .txt-top,
.score-module .progress .txt-center,
.score-module .progress .txt-bottom {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  line-height: 1;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.score-module .progress .txt-top,
.score-module .progress .txt-bottom {
  font-size: 0.18em;
}
.score-module .progress .txt-top {
  top: 1em;
}
.score-module .progress .txt-center {
  font-size: 0.24em;
  top: calc(50% - .5em);
  font-weight: bold;
}
.score-module .progress .txt-bottom {
  bottom: 1em;
}
.score-module .progress .score-progress {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
}
.score-module.score-module-during {
  color: white;
}
.score-module.score-module-during .home-score,
.score-module.score-module-during .away-score {
  background: black;
}
.score-module.score-module-small {
  font-size: 46px;
}
.match-highlights-module {
  background: #E8E8E8;
  padding: 2em 0 0;
  color: #32A237;
  font-size: 16px;
}
.match-highlights-module ul {
  position: relative;
}
.match-highlights-module ul:before {
  position: absolute;
  content: "";
  top: 10px;
  left: 50%;
  bottom: 10px;
  background: #000000;
  width: 1px;
}
.match-highlights-module footer {
  font-family: 'Arial', sans-serif;
  font-size: 108%;
  text-align: center;
  line-height: 1.1;
  padding: 1.4em 5px;
  color: #000000;
}
.match-highlights-module footer small {
  display: block;
  font-weight: 400;
  color: #3C3C3C;
}
.match-highlights-module .is-break {
  background: #3C3C3C;
  color: #FFFFFF;
  font-weight: 700;
  padding: 3px 0;
}
.match-highlights-module .event {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 1;
}
.match-highlights-module .event + .event {
  margin-top: 24px;
}
.match-highlights-module .event-description {
  -webkit-flex: 1;
  flex: 1;
  font-weight: 700;
  line-height: 1.1;
  text-align: right;
}
.match-highlights-module .event-description small {
  display: block;
  color: #C40202;
  font-size: 13px;
  font-weight: 400;
}
.match-highlights-module .event.is-stopped .event-description small {
  color: #FFFFFF;
}
.match-highlights-module .event.is-yellow-card,
.match-highlights-module .event.is-red-card,
.match-highlights-module .event.is-yellow-red-card,
.match-highlights-module .event.is-penalty,
.match-highlights-module .event.is-goal {
  color: #000000;
}
.match-highlights-module .event.is-yellow-card .event-description small,
.match-highlights-module .event.is-red-card .event-description small,
.match-highlights-module .event.is-yellow-red-card .event-description small,
.match-highlights-module .event.is-penalty .event-description small,
.match-highlights-module .event.is-goal .event-description small {
  color: #3C3C3C;
}
.match-highlights-module .event-icon {
  -webkit-flex: 1;
  flex: 1;
  padding-top: 4px;
}
.match-highlights-module .event-icon:before {
  content: "";
  display: inline-block;
}
.match-highlights-module .event-pointer {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  border-radius: .3em;
  text-align: center;
  width: 2em;
  line-height: 2em;
  height: 2em;
  background-color: #000000;
  color: #FFFFFF;
  margin: 0 10px;
}
.match-highlights-module .event-pointer.has-left-arrow:after,
.match-highlights-module .event-pointer.has-right-arrow:after {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-width: 2px;
  margin-top: -2px;
}
.match-highlights-module .event-pointer.has-left-arrow:after {
  right: 100%;
}
.match-highlights-module .event-pointer.has-right-arrow:after {
  left: 100%;
}
.match-highlights-module .event-pointer.is-dark {
  background-color: #000000;
  color: #FFFFFF;
}
.match-highlights-module .event-pointer.is-dark.has-left-arrow:after,
.match-highlights-module .event-pointer.is-dark.has-right-arrow:after {
  border-color: rgba(0, 0, 0, 0);
}
.match-highlights-module .event-pointer.is-dark.has-left-arrow:after {
  border-right-color: #000000;
}
.match-highlights-module .event-pointer.is-dark.has-right-arrow:after {
  border-left-color: #000000;
}
.match-highlights-module .event-pointer.is-light {
  background-color: #FFFFFF;
  color: #000000;
}
.match-highlights-module .event-pointer.is-light.has-left-arrow:after,
.match-highlights-module .event-pointer.is-light.has-right-arrow:after {
  border-color: rgba(255, 255, 255, 0);
}
.match-highlights-module .event-pointer.is-light.has-left-arrow:after {
  border-right-color: #FFFFFF;
}
.match-highlights-module .event-pointer.is-light.has-right-arrow:after {
  border-left-color: #FFFFFF;
}
.match-highlights-module .event-pointer.has-left-arrow:after,
.match-highlights-module .event-pointer.has-right-arrow:after {
  border-color: rgba(0, 0, 0, 0);
}
.match-highlights-module .event-pointer.has-left-arrow:after {
  border-right-color: #000000;
}
.match-highlights-module .event-pointer.has-right-arrow:after {
  border-left-color: #000000;
}
.match-highlights-module .event-pointer > i {
  vertical-align: -3px;
}
.match-highlights-module .event.is-away-team .event-description {
  -webkit-order: 1;
  order: 1;
  text-align: left;
}
.match-highlights-module .event.is-away-team .event-icon {
  -webkit-order: -1;
  order: -1;
  text-align: right;
}
.match-highlights-module .event.is-away-team .event-pointer {
  -webkit-order: 0;
  order: 0;
}
.match-highlights-module .event .event-icon:before {
  content: "";
}
.match-highlights-module .event.is-substitution .event-icon:before {
  background: url('../img/icons/substitute.svg') 0 0 no-repeat;
  width: 23.333333px;
  height: 28px;
}
.match-highlights-module .event.is-goal .event-icon:before {
  background: url('../img/icons/goal.svg') 0 0 no-repeat;
  width: 35px;
  height: 28px;
}
.match-highlights-module .event.is-yellow-card .event-icon:before {
  background: url('../img/icons/yellow_card.svg') 0 0 no-repeat;
  width: 22.78px;
  height: 28px;
}
.match-highlights-module .event.is-red-card .event-icon:before {
  background: url('../img/icons/red_card.svg') 0 0 no-repeat;
  width: 22.78px;
  height: 28px;
}
.match-highlights-module .event.is-yellow-red-card .event-icon:before {
  background: url('../img/icons/red_car_2yellow.svg') 0 0 no-repeat;
  width: 24.39px;
  height: 28px;
}
.match-highlights-module .event.is-penalty .event-icon:before {
  background: url('../img/icons/whistle.svg') 0 0 no-repeat;
  width: 28px;
  height: 28px;
}
.match-highlights-module .event.is-ekstra-time .event-icon:before {
  background: url('../img/icons/red_car_2yellow.svg') 0 0 no-repeat;
  width: 24.39px;
  height: 28px;
}
.previous-matches-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.previous-matches-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.previous-matches-module h3 .is-mute {
  color: #C8C8C8;
}
.previous-matches-module .team-name {
  width: 70%;
  border-bottom: 1px solid #E8E8E8;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #3C3C3C;
  padding: 7px 0 4px;
}
.previous-matches-module .matches {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 3px 0;
}
.previous-matches-module .matches .match-bubble-pattern + .match-bubble-pattern {
  margin-left: 9px;
}
.previous-matches-module .no-data {
  margin: 0 5px;
}
.statistic-list-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.statistic-list-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.statistic-list-module h3 .is-mute {
  color: #C8C8C8;
}
.statistic-list-module > ul {
  margin-top: 8px;
}
.statistic-list-module > ul > li {
  margin: 0 5px;
  padding: 0 0 5px;
}
.statistic-list-module .headline {
  overflow: hidden;
  padding: 0 0 6px;
}
.statistic-list-module .caption,
.statistic-list-module .number {
  font-family: 'Arial', sans-serif;
  font-size: 11px;
}
.statistic-list-module .caption {
  float: left;
  color: #000000;
}
.statistic-list-module .number {
  float: right;
}
.about-list-module > h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.about-list-module > h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.about-list-module > h3 .is-mute {
  color: #C8C8C8;
}
.about-list-module > ul > li {
  color: #3C3C3C;
  background: #f3f3f3;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  min-height: 44px;
  padding: 7px 5px;
}
.about-list-module > ul > li:nth-child(odd) {
  background: #E8E8E8;
}
.about-list-module > ul > li p {
  margin: 0;
}
.about-list-module > ul > li p + p {
  margin-top: .5em;
}
.about-list-module .title {
  color: #000000;
  font-family: 'Titillium Web', sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.compare-list-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.compare-list-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.compare-list-module h3 .is-mute {
  color: #C8C8C8;
}
.compare-list-module > ul {
  padding-top: 5px;
}
.compare-list-module .headline {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  align-items: baseline;
  font-size: 11px;
  padding: 6px 5px;
}
.compare-list-module .caption {
  -webkit-flex: 1;
  flex: 1;
  font-family: 'Arial', sans-serif;
  text-align: center;
}
.compare-list-module .distribution {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 5px;
}
.compare-list-module .left-bar,
.compare-list-module .right-bar {
  position: relative;
  height: 6px;
  background: #E8E8E8;
  border-radius: 3px;
  overflow: hidden;
  width: 48%;
}
.compare-list-module .left-bar > span,
.compare-list-module .right-bar > span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  background-color: #32A237;
  border-radius: 3px;
}
.compare-list-module .left-bar.is-right > span,
.compare-list-module .right-bar.is-right > span {
  left: auto;
  right: 0;
}
.compare-list-module .left-bar.is-mute > span,
.compare-list-module .right-bar.is-mute > span {
  background-color: #bbd7bc;
}
.compare-list-module .left-bar > span {
  left: auto;
  right: 0;
}
.bet-module {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  height: 44px;
  background: #FFFFFF url('../img/bet-bg.png') 0 0 no-repeat;
  background-size: cover;
}
.bet-module > div {
  -webkit-flex: 1;
  flex: 1;
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 0 5px;
  padding: .4em 0;
  text-align: center;
}
.lineup-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.lineup-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.lineup-module h3 .is-mute {
  color: #C8C8C8;
}
.lineup-module .home-team,
.lineup-module .away-team {
  display: -webkit-flex;
  display: flex;
  font-size: 13px;
  margin: .2em 0 .1em;
}
.lineup-module .home-team .name,
.lineup-module .away-team .name {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 5px;
}
.lineup-module .home-team .line-up,
.lineup-module .away-team .line-up {
  font-weight: 700;
  padding: 0 5px;
}
.lineup-module .line-up-container {
  position: relative;
  background: url('../img/soccerfield.svg') no-repeat;
  background-size: cover;
  width: 375px;
  height: 800px;
  font-size: 15px;
}
.lineup-module .line-up-container .player {
  position: absolute;
  width: 60px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform: translate3d(-80px, 375px, 0px);
  transform: translate3d(-80px, 375px, 0px);
  text-align: center;
}
.lineup-module .line-up-container .player .player-jersey-pattern {
  display: block;
}
.lineup-module .line-up-container .player .player-name {
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -2px;
}
.bench-list-module h3 {
  margin: 0;
  padding: 3px 5px;
  background: #3C3C3C;
  color: #FFFFFF;
  font-size: 13px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.bench-list-module h3 .col-title {
  -webkit-flex: 1;
  flex: 1;
  font-size: 15px;
}
.bench-list-module h3 .is-mute {
  color: #C8C8C8;
}
.bench-list-module h3 .col-stadium {
  color: #CBFE33;
  font-size: 15px;
  font-weight: 400;
}
.bench-list-module .teams {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 9px 5px 4px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
}
.bench-list-module > ul {
  padding-top: 5px;
}
.bench-list-module > ul > li {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 5px;
}
.bench-list-module .col-1,
.bench-list-module .col-4 {
  width: 50px;
}
.bench-list-module .col-2,
.bench-list-module .col-3 {
  -webkit-flex: 1;
  flex: 1;
  -webkit-align-self: stretch;
  align-self: stretch;
  border-bottom: 1px solid #E8E8E8;
}
.bench-list-module .col-2.is-empty,
.bench-list-module .col-3.is-empty {
  border-bottom: none;
}
.bench-list-module .col-2 {
  padding-left: 5px;
}
.bench-list-module .col-3 {
  padding-right: 5px;
  text-align: right;
}
.bench-list-module .player-name-home,
.bench-list-module .player-name-away {
  font-size: 13px;
  font-weight: 700;
}
.bench-list-module small {
  display: block;
  font-weight: 400;
}
.bench-list-module .teams + ul > :first-child .col-2,
.bench-list-module .teams + ul > :first-child .col-3 {
  border-top: 1px solid #E8E8E8;
}
.bench-list-module ul > :last-child .col-2,
.bench-list-module ul > :last-child .col-3 {
  border-bottom: none;
}
.player-header-module {
  background: #000000 url("../img/header-bg.jpg") top center no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  padding: 1.4rem 15px;
}
.player-header-module .top-row {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.player-header-module .top-row .back {
  width: 40px;
  line-height: 40px;
  font-size: 38px;
}
.player-header-module .top-row .caption {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  line-height: 1.1;
}
.player-header-module .top-row .caption .headline {
  font-size: 18px;
}
.player-header-module .top-row .caption .subline {
  font-size: 13px;
}
.player-header-module .top-row .notification {
  width: 40px;
  line-height: 40px;
  font-size: 26px;
  text-align: right;
}
.player-header-module .top-row .notification .notification-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.player-header-module .top-row .notification .notification-icon:before {
  content: "\f0a2";
}
.player-header-module .top-row .notification.has-notification .notification-icon:before {
  content: "\f0f3";
}
.player-header-module .player-row {
  display: -webkit-flex;
  display: flex;
  margin-top: 2.3em;
}
.player-header-module .player-row .player-column {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
}
.player-header-module .player-row .player-column .image {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.player-header-module .player-row .player-column .name {
  font-size: 11px;
  font-weight: 700;
}
.match-header-module {
  background: #000000 url("../img/header-bg.jpg") top center no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  padding: 1.4rem 15px;
}
.match-header-module .top-row {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.match-header-module .top-row .back {
  width: 40px;
  line-height: 40px;
  font-size: 38px;
}
.match-header-module .top-row .caption {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  line-height: 1.1;
}
.match-header-module .top-row .caption .headline {
  font-size: 18px;
}
.match-header-module .top-row .caption .subline {
  font-size: 13px;
}
.match-header-module .top-row .notification {
  width: 40px;
  line-height: 40px;
  font-size: 26px;
  text-align: right;
}
.match-header-module .top-row .notification .notification-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.match-header-module .top-row .notification .notification-icon:before {
  content: "\f0a2";
}
.match-header-module .top-row .notification.has-notification .notification-icon:before {
  content: "\f0f3";
}
.match-header-module .stadium-row .distribution-bar-caption {
  color: #CBFE33;
}
.match-header-module .teams-row {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: .3em 0 0;
}
.match-header-module .teams-row .team-column {
  -webkit-flex: 1;
  flex: 1;
  padding-top: .5em;
}
.match-header-module .teams-row .team-column .logo-wrapper {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.match-header-module .teams-row .team-column .logo {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  z-index: 1;
}
.match-header-module .teams-row .team-column.is-home {
  text-align: left;
}
.match-header-module .teams-row .team-column.is-visiting {
  text-align: right;
}
.match-header-module .teams-row .score-column {
  width: 148px;
}
.match-header-module .teams-info-row {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.match-header-module .teams-info-row .match-info {
  width: 7rem;
  padding: .2em .5em 0;
  color: #CBFE33;
  font-size: 11px;
  text-align: center;
}
.match-header-module .teams-info-row .team-info-column {
  -webkit-flex: 1;
  flex: 1;
}
.match-header-module .teams-info-row .team-info-column .name {
  font-size: 11px;
  font-weight: 700;
}
.match-header-module .teams-info-row .team-info-column .events {
  margin-top: .3em;
  font-size: 11px;
}
.match-header-module .teams-info-row .team-info-column.is-home {
  text-align: left;
}
.match-header-module .teams-info-row .team-info-column.is-visiting {
  text-align: right;
}
.match-header-module .match-wrapper {
  margin: 0 .7rem;
}
.match-header-module .red-card-icon,
.match-header-module .yellow-card-icon {
  width: 4px;
  height: 8px;
  display: inline-block;
}
.match-header-module .red-card-icon {
  background: #C40202;
}
.match-header-module .yellow-card-icon {
  background: #feee00;
}
.match-header-module .bg-splash,
.match-header-module .fg-splash {
  display: none;
  position: absolute;
  background: transparent 0 0 no-repeat;
  background-size: cover;
}
.match-header-module .bg-splash {
  width: 95.5px;
  height: 16.5px;
  top: 25px;
  left: -18px;
  z-index: 0;
}
.match-header-module .fg-splash {
  width: 74px;
  height: 22.5px;
  top: 11px;
  left: -7px;
  z-index: 2;
}
.match-header-module .bg-splash.is-won {
  display: block;
  background-image: url('../img/winner-bg.png');
}
.match-header-module .fg-splash.is-won {
  display: block;
  background-image: url('../img/winner.png');
}
.match-header-module .bg-splash.is-lost {
  display: block;
  background-image: url('../img/loser-bg.png');
}
.match-header-module .fg-splash.is-lost {
  display: block;
  background-image: url('../img/loser.png');
}
