// PATHS
@font-path: '../fonts';
@img-path: '../img';

// COLORS - PALETTE

@primary: #32A237;
@primary-dark: #235B17;
@primary-light: #CBFE33;

@secondary: #C40202;
@secondary-light: #F37374;
@yellow: #feee00;

@white: #FFFFFF;
@gray-light: #E8E8E8;
@gray: #C8C8C8;
@gray-dark: #484848;
@gray-darker: #3C3C3C;
@black: #000000;

// COLOR - ELEMENTS
@text-light: @white;
@text-dark: @black;

@border-color: @gray-light;

@won-color: @primary;
@tie-color: @yellow;
@lost-color: @secondary;

@red-card-color: @secondary;
@yellow-card-color: @yellow;

// FONT FAMILIES
@font-family-base: 'Titillium Web', sans-serif;
@font-family-alternative: 'Arial', sans-serif;
@font-family-awesome: 'FontAwesome';

// FONT WEIGHTS
@font-weight-normal: 400;
@font-weight-bold: 700;

// FONT SIZES
@font-size-base: 15px;
@font-size-large: 16px;
@font-size-larger: 18px;
@font-size-huge: 20px;
@font-size-small: 13px;
@font-size-smaller: 12px;
@font-size-mini: 11px;


// FONT AWESOME


// LAYOUT
@text-horizontal-spacing: 5px;
@module-spacing: 5px;