.about-list-module {
  @odd-bg-color: @gray-light;
  @even-bg-color: lighten(@odd-bg-color, 4.5%);

  > h3 {
    .list-header-pattern();
  }

  > ul > li {
    color: @gray-dark;
    background: @even-bg-color;
    font-family: @font-family-alternative;
    font-size: @font-size-mini;
    min-height: 44px;
    padding: 7px @text-horizontal-spacing;

    &:nth-child(odd) {
      background: @odd-bg-color;
    }

    p {
      margin: 0;
      & + p {
        margin-top: .5em;
      }
    }
  }

  .title {
    color: @text-dark;
    font-family: @font-family-base;
    font-size: @font-size-small;
    font-weight: @font-weight-bold;
  }


}