.bench-list-module {
  h3 {
    .list-header-pattern();
    .col-stadium {
      color: @primary-light;
      font-size: @font-size-base;
      font-weight: @font-weight-normal;
    }
  }

  .teams {
    .flex-list-item;
    padding: 9px @text-horizontal-spacing 4px;
    font-family: @font-family-alternative;
    font-size: @font-size-smaller;
  }

  > ul {
    padding-top: 5px;

    > li {
      .flex-list-item;
      padding: 0 @text-horizontal-spacing;
    }
  }

  .col-1,
  .col-4 {
    width: 50px;
  }

  .col-2,
  .col-3 {
    .flex(1);
    .align-self(stretch);
    border-bottom: 1px solid @border-color;

    &.is-empty {
      border-bottom: none;
    }
  }

  .col-2 {
    padding-left: @text-horizontal-spacing;
  }

  .col-3 {
    padding-right: @text-horizontal-spacing;
    text-align: right;
  }

  .player-name-home,
  .player-name-away {
    font-size: @font-size-small;
    font-weight: @font-weight-bold;
  }

  small {
    display: block;
    font-weight: @font-weight-normal;
  }

  // if there is a teams div before the list show a top border on the name columns
  .teams + ul > :first-child .col-2,
  .teams + ul > :first-child .col-3 {
    border-top: 1px solid @border-color;
  }

  // last list item should not have a bottom border
  ul > :last-child .col-2,
  ul > :last-child .col-3 {
    border-bottom: none;
  }


}