.bet-module {
  @height: 44px;

  .flex-display(flex);
  .justify-content(space-around);
  .align-items(center);

  height: @height;
  background: @white url('@{img-path}/bet-bg.png') 0 0 no-repeat;
  background-size: cover;

  > div {
    .flex(1);
    font-family: @font-family-alternative;
    border-radius: 5px;
    background: fade(@black, 70%);
    color: white;
    margin: 0 @text-horizontal-spacing;
    padding: .4em 0;
    text-align: center;
  }
}