.compare-list-module {

  h3 {
    .list-header-pattern;
  }

  > ul {
    padding-top: 5px;
  }

  .headline {
    .flex-display(flex);
    .justify-content(space-between);
    .align-items(baseline);
    font-size: @font-size-mini;
    padding: 6px @text-horizontal-spacing;
  }


  .left-number,
  .right-number {
  }

  .caption {
    .flex(1);
    font-family: @font-family-alternative;
    text-align: center;
  }

  .distribution {
    .flex-display(flex);
    .justify-content(space-between);
    padding: 0 @text-horizontal-spacing;
  }

  .left-bar,
  .right-bar {
    .progress-bar-pattern;
    width:48%;
  }

  .left-bar {
    .progress-bar-pattern.is-right;
  }

}