.date-picker-module {
  background: @gray-dark;
  color: @gray;
  font-family: @font-family-alternative;

  ul {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  li {
    display: inline-block;
    text-align: center;
    width: 2em;
    padding: 5px;

    &.is-active {
      background: @primary-light;
      color: @text-dark;
      font-weight: @font-weight-bold;
    }
  }

}
