.debat-module {

  li {
    .flex-display(flex);
    background-color: @gray-light;
    font-family: @font-family-alternative;
    font-size: @font-size-base;
    color: #2E3192;
    margin-top: 2px;

    &.is-reply,
    &.is-instagram-reply {
      background-color: @gray;
      color: @text-dark;
      margin-top: 0;
    }

    &.is-twitter {
      background: #AAE0F5;
      color: @text-dark;
    }

    &.is-instagram {}

    &.is-twitter-reply {
      background-color: darken(#aae0f5, 10%);
      color: @text-dark;
      margin-bottom: 2px;
      margin-top: 0;
    }
  }

  .col1 {
    width: 5em;
    text-align: center;
    padding: @text-horizontal-spacing;
  }

  .col2 {
    .flex(1);
    padding: @text-horizontal-spacing;
  }

  .timestamp {
    font-weight: @font-weight-bold;
  }

  .author {
    font-size: @font-size-smaller;
    word-break: break-all;
  }

  .twitter-icon,
  .instagram-icon,
  .youtube-icon {
    float: right;
    padding: 2px;
    border-radius: 4px;
    margin-left: 2px;
  }


  .twitter-icon {
    color: white;
    background: #2AA9E0;
  }

  .instagram-icon {
    color: #A9A9A9;
    border-radius: 4px;
  }

  .youtube-icon {
    color: #E62117;
  }

  .content-image {
    width: 100%;
    height: auto;
    padding-top: 5px;
  }

  p {
    margin: 0;
  }

  a { color: #1691ce;}


}