.leagues-list-module {
  h3 {
    .list-header-pattern;
  }

  li {
    .flex-list-item;
    margin: 0 2 * @text-horizontal-spacing;
    padding: 7px 0;

    & + li {
      border-top: 1px solid @border-color;
    }
  }

  // Columns
  .col-league {
    .flex(1);

    small {
      display: block;
    }
  }

  .col-round {
    font-family: @font-family-alternative;
    font-size: @font-size-smaller;
    font-weight: @font-weight-bold;
    min-width: 4rem;
    color: @gray-dark;
  }

  .col-nav {
    min-width: 1.5rem;
    text-align: right;
    color: @gray-dark;

    &:before {
      .fa;
      content: @fa-var-chevron-right;
    }
  }

}