.lineup-module {
  @height: 800px;
  @width: 375px;
  @player-width: 60px;

  h3 {
    .list-header-pattern;
  }

  .home-team,
  .away-team {
    .flex-display(flex);
    font-size: @font-size-small;
    margin: .2em 0 .1em;

    .name {
      .flex(1);
      padding: 0 @text-horizontal-spacing;
    }

    .line-up {
      font-weight: @font-weight-bold;
      padding: 0 @text-horizontal-spacing;
    }
  }

  .line-up-container {
    position: relative;
    background: url('@{img-path}/soccerfield.svg') no-repeat;
    background-size: cover;
    width: @width;
    height: @height;
    font-size: 15px;

    .player {
      position: absolute;
      width: @player-width;
      .transition-transform(1s);
      .transform(translate3d(-80px, 375px, 0px));
      text-align: center;

      .player-jersey-pattern {
         display: block;
      }

      .player-name {
        font-family: @font-family-alternative;
        font-size: @font-size-mini;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: -2px;
      }
    }
  }

}