.loading-screen-module {
  @logo-width: round(191px / 2);
  @logo-height: round(100px / 2);
  @logo-center: round(@logo-width / 2);

  position: relative;
  background-color: @black;
  height: 700px;
  overflow: hidden;

  .live-score-logo {
    left: ~"calc(50% - @{logo-center})";
    top: 44%;
    position: absolute;
    background: transparent url('@{img-path}/live-score-logo.png') 50% 0 no-repeat;
    background-size: cover;
    width: @logo-width;
    height: @logo-height;
    margin: 0 auto;
  }

  .spinner-wrapper {
    position: absolute;
    color: @text-light;
    text-align: center;
    left: 0;
    bottom: 4%;
    width: 100%;
    .spinner {
      margin: 0 auto;
      .spinner-pattern;
    }
  }
}