.match-header-module {
  background: @black url("@{img-path}/header-bg.jpg") top center no-repeat;
  background-size: 100% auto;
  color: @white;
  padding: 1.4rem @text-horizontal-spacing * 3;

  .top-row {
    .flex-display(flex);
    .align-items(center);

    .back {
      width: 40px;
      line-height: 40px;
      font-size: 38px;
    }

    .caption {
      .flex(1);
      text-align: center;
      line-height: 1.1;

      .headline {
        font-size: @font-size-larger;
      }

      .subline {
        font-size: @font-size-small;
      }
    }

    .notification {
      width: 40px;
      line-height: 40px;
      font-size: 26px;
      text-align: right;

      .notification-icon {
        .fa-icon();
        &:before {
          content: @fa-var-bell-o;
        }
      }

      &.has-notification .notification-icon:before {
        content: @fa-var-bell;
      }
    }

  }

  .stadium-row {
    .distribution-bar-caption {
      color: @primary-light;
    }
  }

  .teams-row {
    .flex-display(flex);
    .align-items(flex-start);
    .justify-content(space-between);
    margin: .3em 0 0;

    .team-column {
      .flex(1);
      padding-top: .5em;

      &.is-home {
        text-align: left;
      }

      &.is-visiting {
        text-align: right;
      }
    }

    .score-column {
      width: 148px;
    }
  }

  .teams-info-row {
    .flex-display(flex);
    .justify-content(space-between);

    .match-info {
      width: 7rem;
      padding: .2em .5em 0;
      color: @primary-light;
      font-size: @font-size-mini;
      text-align: center;
    }

    .team-info-column {
      .flex(1);
      .name {
        font-size: @font-size-mini;
        font-weight: @font-weight-bold;
      }

      .events {
        margin-top: .3em;
        font-size: @font-size-mini;
      }

      &.is-home {
        text-align: left;
      }

      &.is-visiting {
        text-align: right;
      }
    }
  }

  .match-wrapper {
    margin: 0 .7rem;
  }

  // Card icons
  .red-card-icon,
  .yellow-card-icon {
    width: 4px;
    height: 8px;
    display: inline-block;
  }

  .red-card-icon {
    background: @red-card-color;
  }

  .yellow-card-icon {
    background: @yellow-card-color;
  }

}