.match-highlights-module {
  @background-color: @gray-light;
  @pointer-bg-color: @black;
  @pointer-color: @text-light;
  @red-color: #C40202;
  @yellow-color: #FCFF00;
  @spacing-between: 24px;
  @arrow-size: 2px;

  background: @background-color;
  padding: 2em 0 0;
  color: @primary;
  font-size: @font-size-large;

  ul {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: 10px;
      left: 50%;
      bottom: 10px;
      background: @pointer-bg-color;
      width: 1px;
    }
  }

  footer {
    font-family: @font-family-alternative;
    font-size: 108%;
    text-align: center;
    line-height: 1.1;
    padding: 1.4em @text-horizontal-spacing;
    color: @text-dark;

    small {
      display: block;
      font-weight: @font-weight-normal;
      color: @gray-dark;
    }
  }

  .is-break {
    background: @gray-dark;
    color: @text-light;
    font-weight: @font-weight-bold;
    padding: 3px 0;
  }

  .event {
    position: relative;
    .flex-display(flex);
    .justify-content(center);
    .align-items(center);
    z-index: 1;

    & +.event {
      margin-top: @spacing-between;
    }
  }

  .event-description {
    .flex(1);
    font-weight: @font-weight-bold;
    line-height: 1.1;
    text-align: right;

    small {
      display: block;
      color: @red-color;
      font-size: @font-size-small;
      font-weight: @font-weight-normal;
    }
  }

  .event.is-stopped {
    .event-description small {
      color: @white;
    }
  }

  .event.is-yellow-card,
  .event.is-red-card,
  .event.is-yellow-red-card,
  .event.is-penalty,
  .event.is-goal {
    color: @text-dark;
    .event-description small {
      color: @gray-dark;
    }
  }

  .event-icon {
    .flex(1);
    padding-top: 4px;

    &:before {
      content: "";
      display: inline-block;
    }
  }

  .event-pointer {
    .time-box-pattern;
    .time-box-pattern.is-dark;
    margin: 0 10px;

    > i {
      vertical-align: -3px;
    }
  }

  .event.is-away-team {
    .event-description {
      .order(1);
      text-align: left;
    }
    .event-icon {
      .order(-1);
      text-align: right;
    }
    .event-pointer {
      .order(0);
    }
  }

  // State icons
  .event {
    .event-icon:before {
      content: "";
    }

    &.is-substitution {
      .event-icon:before {
        .event-icon-pattern.is-substitution;
      }
    }

    &.is-goal {
      .event-icon:before {
        .event-icon-pattern.is-goal;
      }
    }

    &.is-yellow-card {
      .event-icon:before {
        .event-icon-pattern.is-yellow-card;
      }
    }

    &.is-red-card {
      .event-icon:before {
        .event-icon-pattern.is-red-card;
      }
    }

    &.is-yellow-red-card {
      .event-icon:before {
        .event-icon-pattern.is-yellow-red-card;
      }
    }

    &.is-penalty {
      .event-icon:before {
        .event-icon-pattern.is-penalty;
      }
    }

    &.is-ekstra-time {
      .event-icon:before {
        .event-icon-pattern.is-yellow-red-card;
      }
    }

  }

}