.match-list-module {
  @line-height: 60px;
  @animation-duration: .5s;
  @animation-perspective: 500px;

  h3 {
    .list-header-pattern;
  }

  .match-list-item {
    .perspective(@animation-perspective);
    position: relative;
    margin: 0;
    padding: 0;
    height: @line-height + 1px; // height + 1px border
    border-bottom: 1px solid @border-color;
    overflow: hidden;
    background: gray;
  }

  .match-line-scoreboard-item {
    .flex-list-item;
    //.transform(translateZ(@line-height * .5));
    padding: 7px @text-horizontal-spacing;
    width: 100%;
    background: @white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    .team-logo {
      width: 25px;
    }

    .team-name {
      .flex(1);
      font-size: @font-size-small;
      font-weight: @font-weight-bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 @text-horizontal-spacing;

      &.is-away {
        text-align: right;
      }
    }

    .score-widget {
      width: 6rem;
      text-align: center;
    }
  }

  .match-list-banner-item {
    // .transform(translateZ(@line-height * .5));
    display: block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  .match-list-event-item {
    //.transform(translateZ(@line-height * .5));
    .flex-display(flex);
    .justify-content(space-between);
    .align-items(center);
    width: 100%;
    height: @line-height;
    background-color: @primary;
    color: @text-light;
    padding: 0 @text-horizontal-spacing;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    .event-text {
      .flex(1);
      padding: 0 @text-horizontal-spacing;
      font-weight: @font-weight-bold;
      font-size: @font-size-large;
      line-height: 1.1;

      small {
        display: block;
        font-weight: @font-weight-normal;
        color: @secondary;
      }
    }

  }

  // React cube animation
  .keyframes(spinner-out; { from {
    .transform(translateZ(0) translateY(0) rotateX(0));
  } to {
      .transform(translateZ(0) translateY(-@line-height) rotateX(90deg));
    } });

  .keyframes(spinner-in; { from {
    .transform(translateZ(0) translateY(@line-height) rotateX(-90deg));
  } to {
      .transform(translateZ(0) translateY(0) rotateX(0));
    } });

  .cube-wrapper {
    .transform-style(preserve-3d);
  }

  .slide-enter {
    position: absolute;
    .transform-origin(top center);

    &.slide-enter-active {
      .transform-origin(top center);
      .animation(spinner-in @animation-duration linear forwards);
    }
  }

  .slide-leave {
    position: absolute;
    .transform-origin(bottom center);

    &.slide-leave-active {
      .transform-origin(bottom center);
      .animation(spinner-out @animation-duration linear forwards);
    }
  }

}