.menu-module {
  position: relative;
  background-color: @black;
  overflow: hidden;
  padding: 2.6em (@text-horizontal-spacing * 4) 1em;

  ul {
    padding: 10px 0;
    > li {
      padding: 11px 0;
    }
  }

  .menu-wrapper {
    position: relative;
  }

  .menu-search {
    position: relative;
    font-size: @font-size-base;
    border-bottom: 1px solid #555;
    padding-bottom: 4px;
    color: @white;

    input[type='search'] {
      position: relative;
      border: none;
      background: none;
      width: 100%;
      padding-left: 28px;
      font-family: @font-family-alternative;
      box-sizing: border-box;
    }

    &:before {
      font-family: @font-family-awesome;
      content: @fa-var-search;
      position: absolute;
      left: @text-horizontal-spacing;
      top: 0px;
    }
  }

  .menu-link {
    color: @text-light;
    text-decoration: none;
    font-size: @font-size-larger;

    > i {
      margin-left: @text-horizontal-spacing;
      margin-right: 1em;
    }
  }

  .menu-separator {
    font-weight: @font-weight-bold;
    background-color: fade(#969696, 50%);
    color: darken(@white, 20%);
    padding: 6px @text-horizontal-spacing * 2;
  }

  .menu-button {
    .btn;
    .btn-lg;
    .btn-block;
    background: fade(@primary-dark, 80%);

    > i {
      margin: 0 .3em;
    }
  }

}