.navigation-slider-module {
  background: @gray-dark;
  color: @text-light;
  text-transform: uppercase;
  overflow: hidden;
  height: 44px;

  li {
    width: 33.333333%;
    float: left;
    text-align: center;
    font-size: @font-size-small;
    font-weight: @font-weight-bold;
    line-height: 22px;
    padding: 11px @text-horizontal-spacing;
  }

  .active {
    color: @primary-light;
  }

}