.player-notification-module {
  .flex-display(flex);
  .flex-direction(column);
  .justify-content(flex-end);
  position: relative;
  background-color: @black;
  height: 700px;
  overflow: hidden;
  padding: 2.6em (@text-horizontal-spacing * 4) 0;

  .settings {
    position: relative;
  }

  fieldset {
    border: none;
    border-bottom: 1px solid @border-color;
    padding: 0;
    margin: 0;

    legend {
      width: 100%;
      font-size: @font-size-large;
      color: @text-light;
      border-bottom: 1px solid @border-color;
    }
  }

  .list-indent {
    margin-left: @text-horizontal-spacing * 4;
    font-family: @font-family-alternative;

    > li {
      padding: .4em 0;

      & + li {
        border-top: 1px solid @border-color;
      }
    }
  }

  .notification-item {
    .flex-display(flex);
    .justify-content(space-between);
    .align-items(center);
    color: @text-light;
  }

  .button-wrapper {
    text-align: center;
    .btn-cancel {
      margin: 5em auto 0;
      font-weight: @font-weight-normal;
      font-size: @font-size-huge;
    }
  }
}