.player-header-module {
  background: @black url("@{img-path}/header-bg.jpg") top center no-repeat;
  background-size: 100% auto;
  color: @white;
  padding: 1.4rem @text-horizontal-spacing * 3;

  .top-row {
    .flex-display(flex);
    .align-items(center);

    .back {
      width: 40px;
      line-height: 40px;
      font-size: 38px;
    }

    .caption {
      .flex(1);
      text-align: center;
      line-height: 1.1;

      .headline {
        font-size: @font-size-larger;
      }

      .subline {
        font-size: @font-size-small;

      }
    }

    .notification {
      width: 40px;
      line-height: 40px;
      font-size: 26px;
      text-align: right;

      .notification-icon {
        .fa-icon();
        &:before {
          content: @fa-var-bell-o;
        }
      }

      &.has-notification .notification-icon:before {
          content: @fa-var-bell;
      }
    }

  }

  .player-row {
    .flex-display(flex);
    margin-top: 2.3em;

    .player-column {
      .flex(1);
      text-align: center;
      .name {
        font-size: @font-size-mini;
        font-weight: @font-weight-bold;
      }
    }
  }

}