.previous-matches-module {
  h3 {
    .list-header-pattern;
  }

  .team-name {
    width: 70%;
    border-bottom: 1px solid @border-color;
    margin: 0 auto;
    text-align: center;
    font-size: @font-size-small;
    font-weight: @font-weight-normal;
    color: @gray-dark;
    padding: 7px 0 4px;
  }

  .matches {
    .flex-display(flex);
    .justify-content(center);
    .align-items(center);
    margin: 3px 0;

    .match-bubble-pattern + .match-bubble-pattern  {
      margin-left: 9px;
    }
  }

  .no-data {
    margin: 0 @text-horizontal-spacing;
  }
}