.score-module {
  @height: 74px;
  @height-small: 46px;
  @board-color: @gray;
  @win-color: @primary;
  @tie-color: yellow;
  @lost-color: @secondary;

  font-family: @font-family-alternative;
  font-size: @height;

  width: 2em;
  height: 1em;
  color: @black;

  // Score board
  .board {
    float: left;
    margin: .25em 0;
    width: 100%;
    background: @board-color;
    line-height: .5em;
  }

  .home-score,
  .away-score {
    font-size: unit(24 / @height, em);
    width: 1.8em;
    text-align: center;
    font-weight: @font-weight-bold;
    position: relative;

    &.is-won {
      background: @win-color;
      color: @text-light;
    }
    &.is-tie {
      background: @tie-color;
      color: @text-dark;
    }
    &.is-lost {
      background: @lost-color;
      color: @text-light;
    }
  }

  .home-score {
    float: left;
    padding-right: .2em;
  }

  .away-score {
    float: right;
    padding-left: .2em;
  }

  // Red card bar
  .card-bar {
    .card-bar-pattern;
    font-size: 1.8em;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: .1em;

    &.is-flipped {
      .transform(scaleX(-1));
      left: auto;
      right: 0;
    }
  }

  // Progress circle
  .progress {
    position: relative;
    margin: 0 .5em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: @board-color;

    .txt-top,
    .txt-center,
    .txt-bottom {
      position: absolute;
      z-index: 1;
      left: 0;
      width: 100%;
      line-height: 1;
      display: block;
      text-align: center;
      white-space: nowrap;
    }

    .txt-top,
    .txt-bottom {
      font-size: 0.18em;
    }

    .txt-top {
      top: 1em;
    }

    .txt-center {
      font-size: 0.24em;
      top: calc(~"50% - .5em");
      font-weight: bold;
    }

    .txt-bottom {
      bottom: 1em;
    }

    .score-progress {
      position: absolute;
      width: 1em;
      height: 1em;
      top: 0;
      left: 0;
    }
  }


  // Subclassing
  &.score-module-before,
  &.score-module-after {
  }

  &.score-module-during {
    color: white;

    .home-score,
    .away-score {
      background: black;
    }
  }

  &.score-module-small {
    font-size: @height-small;
  }


}