.standings-list-explanation-module {
  h3 {
    font-size: @font-size-base;
    font-weight: @font-weight-bold;
    color: @gray-dark;
    margin: 5px @text-horizontal-spacing;
  }

  // List
  > ul {
    padding: 5px 0;
    background: @gray-light;

    > li {
      .flex-display(flex);
      .align-items(center);
    }
  }

  // Columns
  .col-badge {
    width: 35px;
    text-align: center;
    line-height: 1;

    > i {
      font-size: 11px;
      &.is-up {
        color: @primary;
      }
      &.is-down {
        color: @secondary;
      }
    }
  }

  .col-caption {
    .flex(1);
    margin: 0 @text-horizontal-spacing * 3 0 0;
    padding: 0 @text-horizontal-spacing;
    border-bottom: 1px solid @gray;
    line-height: 39px;
    color: @gray-dark;
  }

  // Remove bottom border on last col-caption
  > ul > :last-child .col-caption {
    border-bottom: none;
  }
}