.standings-list-module {
  @col-width-matches: 2rem;
  @col-width-balance: 3rem;
  @col-width-points: 3rem;
  @col-width-won: 1.5rem;
  @col-width-tie: 1.5rem;
  @col-width-lost: 1.5rem;

  @zebra-odd: #e7e7e8;
  @zebra-even: #f3f3f4;

  @active-bg: #999999;

  @mute: #575757;
  @mute-light: #c8c8c8;
  @mute-dark: #999999;


  h3 {
    .list-header-pattern;
    .col-matches { min-width: @col-width-matches; text-align: center;}
    .col-won { min-width: @col-width-won; text-align: center;}
    .col-tie { min-width: @col-width-tie; text-align: center;}
    .col-lost { min-width: @col-width-lost; text-align: center;}
    .col-balance { min-width: @col-width-balance; text-align: center;}
    .col-points { min-width: @col-width-points; text-align: center;}
  }

  li {
    .flex-list-item;
    margin: 0;
    padding: 10px @text-horizontal-spacing;
  }

  // Zebra stripes
  &:not(.is-plain) {
    li:nth-child(even):not(.is-active) {
      background: @zebra-even;
    }
    li:nth-child(odd):not(.is-active) {
      background: @zebra-odd;
    }
  }

  // Active match
  &:not(.is-plain) {
    li.is-active {
      background: @active-bg;

      .col-points,
      .col-team {
        color: @white;
      }

      .col-won,
      .col-tie,
      .col-lost {
        color: @mute-light;
      }
    }
  }

  // List items columns
  li {
    .col-position {
      min-width: 1.8rem;
    }

    .col-history {
      min-width: 10px;

      &.is-up:before,
      &.is-down:before {
        .fa;
        font-size: @font-size-mini;
      }

      &.is-up:before {
        content: @fa-var-caret-up;
        color: @primary;
      }

      &.is-down:before {
        content: @fa-var-caret-down;
        color: @secondary;
      }
    }

    .col-team {
      .flex(1);
    }

    .col-matches {
      min-width: @col-width-matches;
    }

    .col-won {
      min-width: @col-width-won;
    }

    .col-tie {
      min-width: @col-width-tie;
    }

    .col-lost {
      min-width: @col-width-lost;
    }

    .col-balance {
      min-width: @col-width-balance;
    }

    .col-points {
      min-width: @col-width-points;
    }

    .col-matches,
    .col-balance {
      color: @mute;
    }

    .col-won,
    .col-tie,
    .col-lost {
      color: @mute-dark;
    }

    .col-matches,
    .col-won,
    .col-tie,
    .col-lost,
    .col-balance,
    .col-points {
      font-family: @font-family-alternative;
      text-align: center;
    }
  }

}