.statistic-list-module {

  h3 {
    .list-header-pattern;
  }

  > ul {
    margin-top: 8px;
  }

  > ul > li {
    margin: 0 @text-horizontal-spacing;
    padding: 0 0 5px;
  }

  .headline {
    overflow: hidden;
    padding: 0 0 6px;
  }

  .caption,
  .number {
    font-family: @font-family-alternative;
    font-size: @font-size-mini;
  }

  .caption {
    float: left;
    color: @text-dark;
  }

  .number {
    float: right;
  }

}
