.top-score-list-module {

  h3 {
    .list-header-pattern;
    margin-bottom: 1px;
  }

  li {
    .flex-list-item;
    border-bottom: 1px solid @border-color;
    margin: 0 @text-horizontal-spacing 0 0;
  }

  // Columns
  .col-position {
    font-size: @font-size-mini;
    font-weight: @font-weight-bold;
    width: 2.1rem;
    background: @gray;
    text-align: center;
    padding: 15px 0;
  }

  .col-player {
    .flex(1);
    padding: 0 @text-horizontal-spacing;
    small {
      display: block;
    }
  }

  .col-matches {
    width: 4rem;
    text-align: center;
  }

  li .col-matches {
    font-family: @font-family-alternative;
    color: @gray-dark;
  }

  .col-goals {
    width: 3rem;
    text-align: center;
    padding-right: @text-horizontal-spacing;
  }

  li .col-goals {
    font-family: @font-family-alternative;
  }

}