.tv-list-module {
  @col-width-date: 4em;

  h3 {
    .list-header-pattern;
    .col-date {
      min-width: @col-width-date;
      text-align: right;
      color: @primary-light;
      font-weight: @font-weight-normal;
    }
  }

  small {
    display: block;
    font-weight: @font-weight-normal;
  }

  li {
    .flex-list-item;
    padding: 2px 0 2px @text-horizontal-spacing;
  }

  // Zebra stripes
  li:nth-child(even) {
    background: @gray-light;
  }

  // Columns
  .col-logo {
    width: 80px;
    padding: 0 @text-horizontal-spacing;
  }

  .col-program {
    padding: 5px @text-horizontal-spacing;
    .flex(1);

  }

  .col-time {
    min-width: 5em;
    text-align: center;
    font-weight: @font-weight-bold;
  }

}