.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: .64em 1em;
  background: @primary none;
  color: @text-light;
  text-decoration: none;
  text-align: center;
  font-family: @font-family-alternative;
  font-weight: @font-weight-normal;
  font-size: @font-size-base;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  .user-select(none);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  font-size: @font-size-larger;
  font-weight: @font-weight-bold;
}

.btn-link {
  background: none;
}