// font-size control the size of the element.
.card-bar-pattern {
  background: transparent url('@{img-path}/card-sprite.png' ) 0 0 no-repeat;
  background-size: .92em 2.40em;

  width: .92em;
  height: .17em;

  .generate-cards(@n, @i: 1) when (@i =< @n) {
    &.cards-@{i} {
      background-position: 0 unit((@n - @i) * -.3,em);
    }
    .generate-cards(@n, (@i + 1));
  }
  .generate-cards(8);

  &.cards-0 {
    display: none;
  }
}
