.checkbox-pattern {
  @width: 52px;
  @height: 32px;
  @knobSize: @height - 2;

  display: inline-block;
  cursor: pointer;
  width: @width;
  height: @height;
  background: @gray-light;
  border-radius: @height/2;
  border: 1px solid rgba(0,0,0,.1);
  transition: background .3s;

  > .checkbox-knob {
    display: block;
    width: @knobSize;
    height: @knobSize;
    background-color: @white;
    border-radius: @knobSize / 2;
    border: 1px solid rgba(0,0,0,.2);
    transition: all .3s;
    transform: translate3d(0, 0, 0);

    &:after {
      .fa;
      position: absolute;
      left: 4px;
      top: 2px;
      font-size: 24px;
      line-height: 24px;
      content: @fa-var-cog;
      color: @white;
      opacity: 0;
      transition: opacity .3s;
    }
  }

  &.is-checked {
    background: @primary;

    > .checkbox-knob {
      transform: translate3d(@width - 2px - @knobSize, 0, 0);
    }
  }

  &.is-loading {
    background: @primary-dark;
    > .checkbox-knob {
      position: relative;
      transform: translate3d((@width - 2px) / 2 - (@knobSize / 2), 0, 0);
      background: transparent;
      border-color: transparent;

      &:after {
        .fa-spin;
        opacity: 1;
      }
    }
  }
}