.distribution-bar-pattern {
  @height: 3px;
  @bar-color: @primary-light;
  @bar-color-mute: darken(@bar-color, 16%);
  @bar-bg-color: @gray-light;
  @bar-blur: 10px;

  .distribution-bar-header {
    .flex-display(flex);
    .justify-content(space-between);
    .align-items(baseline);
    font-size: @font-size-mini;
    margin-bottom: 2px;
    color: inherit;
  }

  .distribution-bar-distribution {
    .flex-display(flex);
    .justify-content(space-between);
    padding: 0;
  }

  .distribution-bar-caption {
    .flex(1);
    font-family: @font-family-alternative;
    text-align: center;
  }

  .distribution-bar-left-bar,
  .distribution-bar-right-bar {
    .flex(1);
    position: relative;
    height: 3px;
    background: fade(@bar-bg-color,50%);

    > span {
      position: absolute;
      top: 0;
      display: block;
      height: 100%;
      border-radius: @height * .5;
      background: @primary-light;
      box-shadow: 0 0 @bar-blur 0 fade(@primary-light,75%);
    }

    &.is-mute {
      > span {
        background-color: @bar-color-mute;
        box-shadow: none;
      }
    }
  }

  .distribution-bar-left-bar {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid black;
  }

  .distribution-bar-right-bar {
    right: 0;
    border-radius: 0 3px 3px 0;
  }

  .distribution-bar-left-bar > span {
    right: 0;

  }

  .distribution-bar-right-bar > span {
    left: 0;
  }

}