.event-icon-pattern {
  display: inline-block;

  &.is-substitution {
    .icon-substitute;
    .icon-substitute-md;
  }

  &.is-goal {
    .icon-goal;
    .icon-goal-md;
  }

  &.is-yellow-card {
    .icon-yellow-card;
    .icon-yellow-card-md;
  }

  &.is-red-card {
    .icon-red-card;
    .icon-red-card-md;
  }

  &.is-yellow-red-card {
    .icon-red-card-2-yellow;
    .icon-red-card-2-yellow-md;
  }

  &.is-penalty {
    .icon-whistle;
    .icon-whistle-md;
  }

  &.is-ekstra-time {
      .icon-stopwatch;
      .icon-stopwatch-md;
  }
}