.frozen-glass-background-pattern {
  position: absolute;
  background: @black url('@{img-path}/loading-screen-bg.jpg') 50% 0 no-repeat;
  background-size: 100% auto;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  .filter(blur(7px));
  .transform(scale(1.1));
}
