.header-logo-pattern {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;

  .logo {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: fade(@white,50%);
    border-radius: 50%;
    z-index: 1;

    > img {
      display: block;
      width: 50px;
      height: 50px;
      margin: 5px auto;
    }
  }

  // Winning and losing splashes
  .bg-splash,
  .fg-splash {
    display: none;
    position: absolute;
    background: transparent 0 0 no-repeat;
    background-size: cover;
  }

  .bg-splash {
    width: 191px / 2;
    height: 33px / 2;
    top: 25px;
    left: -18px;
    z-index: 0;
  }

  .fg-splash {
    width: 148px / 2;
    height: 45px / 2;
    top: 11px;
    left: -7px;
    z-index: 2;
  }

  &.is-won  {
    .bg-splash {
      display: block;
      background-image: url('@{img-path}/winner-bg.png');
    }
    .fg-splash {
      display: block;
      background-image: url('@{img-path}/winner.png');
    }
  }


  &.is-lost {
    .bg-splash {
      display: block;
      background-image: url('@{img-path}/loser-bg.png');
    }
    .fg-splash {
      display: block;
      background-image: url('@{img-path}/loser.png');
    }
  }

}
