.list-header-pattern() {
  margin: 0;
  padding: 3px @text-horizontal-spacing;
  background: @gray-dark;
  color: @text-light;
  font-size: @font-size-small;

  .flex-list-item;

  .col-title {
    .flex(1);
    font-size: @font-size-base;
  }

  .is-mute {
    color: @gray;
  }
}
