.match-bubble-pattern {
  @color-won: @primary;
  @color-lost: @secondary;
  @color-tie: #FFF000;

  position: relative;
  display: inline-block;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 10px;

  &.is-won {
    background-color: @color-won;
    color: @text-light;
  }

  &.is-lost {
    background-color: @color-lost;
    color: @text-light;
  }

  &.is-tie {
    background-color: @color-tie;
    color: @text-dark;
  }

  &.is-home {
    &:after {
      .fa;
      content: @fa-var-home;
      background: @black;
      border-radius: 50%;
      position: absolute;
      right: -.3em;
      bottom: -.3em;
      font-size: .7em;
      padding: .22em;
      color: @white;
    }
  }

  &.is-lg {
    font-size: @font-size-base;
  }

}