.player-jersey-pattern {
  @stroke-color: rgba(64, 64, 64, .5);

  position: relative;
  display: inline-block;
  vertical-align: top;

  > img {
    display: block;
    margin: 0 auto;
  }

  .player-number {
    position: absolute;
    display: block;
    top: 17px;
    width: 100%;
    font-family: @font-family-alternative;
    font-size: @font-size-base;
    font-weight: @font-weight-bold;
    text-align: center;
    color: @text-light;
    text-shadow: -1px -1px 0 @stroke-color, 1px -1px 0 @stroke-color, -1px 1px 0 @stroke-color,  1px 1px 0 @stroke-color;
  }
}