.pos-badge-pattern {
  @badge-up-color-0: #235B17;
  @badge-up-color-1: #32A237;
  @badge-up-color-2: #00BAD6;
  @badge-up-color-3: lighten(@badge-up-color-2, 10%);
  @badge-down-color-0: #f00;
  @badge-down-color-1: #b30000;

  display: inline-block;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: @font-size-mini;
  font-weight: @font-weight-bold;
  background: transparent;

  // Badge special color
  &.is-up-0 {
    background: @badge-up-color-0;
    color: @text-light;
  }

  &.is-up-1 {
    background: @badge-up-color-1;
    color: @text-light;
  }

  &.is-up-2 {
    background: @badge-up-color-2;
    color: @text-light;
  }

  &.is-up-3 {
    background: @badge-up-color-3;
    color: @text-light;
  }

  &.is-down-0 {
    background: @badge-down-color-0;
    color: @text-light;
  }

  &.is-down-1 {
    background: @badge-down-color-1;
    color: @text-light;
  }
}

