.progress-bar-pattern {
  @height: 6px;
  @bar-bg-color: @gray-light;
  @bar-color: @primary;

  position: relative;
  height: @height;
  background: @bar-bg-color;
  border-radius: @height * .5;
  overflow: hidden;

  > span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    background-color: @bar-color;
    border-radius: @height * .5;
  }

  &.is-right {
    > span {
      left: auto;
      right: 0;
    }
  }

  &.is-mute {
    > span {
      background-color: mix(@bar-bg-color, @bar-color, 75%)//#B7D3B8;
    }
  }

}