.spinner-pattern {
  @animation-speed: 1.5s;

  .animation-name(spin);
  .animation-duration(@animation-speed);
  .animation-iteration-count(infinite);
  .animation-timing-function(linear);
  .mask-image(url('@{img-path}/spinner.svg'));

  background-color: @primary-light;
  background-size: 100% 100%;
  width: 60px;
  height: 60px;

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }

  &.is-small {
    width: 15px;
    height: 15px;
  }


}