.time-box-pattern {
  @arrow-size: 2px;
  @dark-bg-color: @black;
  @light-bg-color: @white;

  display: inline-block;
  position: relative;
  font-size: @font-size-small;
  font-weight: @font-weight-bold;
  border-radius: .3em;
  text-align: center;
  width: 2em;
  line-height: 2em;
  height: 2em;

  // Arrows
  &.has-left-arrow,
  &.has-right-arrow {
    &:after {
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: fade(@dark-bg-color, 0%);
      border-width: @arrow-size;
      margin-top: -@arrow-size;
    }
  }

  &.has-left-arrow:after {
      right: 100%;
  }

  &.has-right-arrow:after {
      left: 100%;
  }

  // Colors
  .generate-color(@bg-color, @txt-color) {
    background-color: @bg-color;
    color: @txt-color;

    &.has-left-arrow:after,
    &.has-right-arrow:after {
      border-color: fade(@bg-color, 0%);
    }

    &.has-left-arrow:after {
      border-right-color: @bg-color;
    }

    &.has-right-arrow:after {
      border-left-color: @bg-color;
    }
  }

  &.is-dark {
    .generate-color(@dark-bg-color, @text-light);
  }

  &.is-light {
    .generate-color(@light-bg-color, @text-dark);
  }

}

